
/* =================================
  Base Elements Styles
==================================== */


* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #F6F6F6;
  font-family: 'Cairo', monospace, sans-serif;
  font-weight: 400;
  color: #393939;
  line-height: 1.5;
}

html {
  font-size: 16px;
}

h1, h2, h3 {
  font-family: 'Changa', monospace, sans-serif;
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: 2.9rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  padding: 0.5em 0;
  text-transform: uppercase;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.4rem;
  font-family: 'Cairo', monospace, sans-serif;
  font-weight: 400;
  color: #828282;
  line-height: 1.5;
  margin: 0 0 1em;
}

a,
p {
  font-size: 1.1rem;
  margin: 0;
}


img {
  width: 100%;
}

/* =================================
  Base Layout Styles
==================================== */

/* Header */


.main-header {
  padding: 2rem 1rem;
  text-align: center;
}

.name {
  padding-bottom: 0.5em;
}

.banner {
  margin-top: 2em;
}

.dp {
  width: 50%;
  border-radius: 50%;
  margin-bottom: 2em;
  filter: grayscale(100%);
}



/* Navigation */

.main-nav a {
  display: block;
  padding: 0.5em 0;
  margin-bottom: 0.5em;
  background-color: white;
  border-radius: 15px;
}


/* Table */

.main-table {
  background-color: white;
  text-align: center;
  padding: 1em 1em 0;
}


.main-table h3 {
  padding: 0.5em 0;
}

.item {
  padding-bottom: 2.5em;

}


/* Skills */

.skills {
  text-align: center;
  padding: 2em 1em;
}

.icons {
  max-width: 35%;
  margin: 3em auto 0;
}


/* Footer */

.contact {
  text-align: center;
  padding: 2em 0;
  width: 90%;
  margin: auto;
  border-top: solid lightgray 1px;
}

.contact-info {
  font-weight: bold;
  padding-left: 1em;
  line-height: 2;
}

.main-footer {
  padding: 2em 0;
  border-top: solid lightgray 1px;
  width: 90%;
  margin: auto;
}

.footer-title {
  float: left;
}

.to-top {
  float: right;
  text-align: center;
}

.submenu {
  display: none;
}

.up-arrow {
  display: none;
}


/* Links */

a:link {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #393939;
}

a:visited {
  font-weight: bold;
  text-transform: uppercase;
  color: #393939;
}

a:hover {
  font-weight: bolder;
  text-transform: uppercase;
  color: #6DC2CB;
}


/* =================================
  Clearfix
==================================== */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


/* =================================
  Media Queries
==================================== */


@media (min-width: 759px) {

  .wrapper {
    width: 80%;
    max-width: 1150px;
    margin: auto;
  }

  .contact,
  .main-footer {
    width: 100%;
  }

/* Header */

.main-header {
  padding-right: 2em;
  padding-left: 2em;
}

.main-nav li{
  display: inline-block;
  margin: 0;
  padding: 0 1.5em;
}

.main-nav a {
  background: none;
}


.dp {
  width: 30%;
  float: right;
}

.about-me {
  float: left;
  width: 60%;
  display: inline-block;
  text-align: left;
  padding-top: 0;
}


/* Table */
.col {
  width: 50%;
  float: left;
  padding: 0 0.5em 2em;
}


/* Skills */

.python {
  float: left;
}

.react {
  float: right;
}

.nodejs {
  float: center;
}

.python,
.react,
.nodejs {
  display: inline-block;
}

.icons {
  max-width: 70%;
  padding-top: 0;
}


/* footer */

.to-top {
  display: none;
}

.submenu {
  display: block;
  float: right;
}

.submenu li {
  display: inline;
  padding-left: 1em;
}

.up-arrow {
  display: block;
  width: 2.2em;
  margin: 0 1em 1em 0;
  position: fixed;
  bottom: 0;
  right: 0;
  transition: all 0.5s;
  filter: grayscale(90%);
}

.up-arrow:hover {
  transform: scale(1.03);
  filter: grayscale(0);
}

}

@media (min-width: 1024px) {

/* Table */

.col {
  width: 33.3%;
}

}
